<!DOCTYPE html>
<html ng-app="app">

    <head>
        <meta charset="utf-8">
        <link href="js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="css/gites.css" rel="stylesheet">
        <link href="css/snackbar.css" rel="stylesheet">
        <link href="css/bounce.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">

        <title>gites</title>
    </head>

    <body ng-controller="EmojiController as emControl">

        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <img src="gites.png" class="logo">
                </div>
            </div>
        </header>

        <div class="container mb-5">
            <h4 class="about">
                Improve your <span class="emph">git</span> commits with <span class="emph">e</span>moji<span class="emph">s</span>!
                Inspired by the <a href="https://gitmoji.dev/">gitmoji</a> initiative.</br>
            </h4>
            <p class="about">
                Tip: click on the emoji image to copy it to the clipboard
            </p>
            <input type="text" class="form-control"
                   placeholder="Search emoji by tag, e.g. fix, chore, doc"
                   ng-change="search()"
                   ng-model="inputText"
                   ng-model-options="{debounce: 500}">
            <div class="row">
                <div ng-cloak ng-repeat="emoji in emControl.emojis" class="col-auto mb-3 px-2">
                    <div class="card flex-row flex-wrap">
                        <div class="card-header mx-0 px-0 text-center rounded">
                            <h1 class="card-title" id="{{emoji.image}}" onclick="copyToClipboard(this.id)">
                                {{emoji.image}}
                            </h1>
                        </div>
                        <div class="card-block px-2">
                            <p class="card-text">
                                :{{emoji.name}}:</br>
                                hex: {{emoji.hex}}</br>
                                dec: {{emoji.dec}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="snackbar">Copied to the clipboard</div>

        <footer class="footer text text-white fixed-bottom">
            <div class="container d-flex justify-content-between">
                <div class="text p-2">
                    © 2021 Copyright:
                    <a class="text-white" href="https://sokolak.wixsite.com/sokolak?lang=en">SokolAK</a>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="js/lib/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

    </body>

</html>