<!DOCTYPE html>
<html ng-app="app">

    <head>
        <meta charset="UTF-8"/>
        <title>gites</title>
    </head>

    <style>
        .image {
          font-size: 35px;
        }
    </style>

    <body ng-controller="EmojiController as emControl">

        <ul>
            <li ng-repeat="emoji in emControl.emojis">
                <dev>
                    <span class="image">{{emoji.img}}</span></br>
                    name: :{{emoji.id}}:</br>
                    hex: {{emoji.hex}}</br>
                    dec: {{emoji.dec}}</br>
                    categories: <span ng-repeat="category in emoji.categories">{{category.id}}{{$last ? '' : ', '}}</span></br>
                    tags: <span ng-repeat="tag in emoji.tags">{{tag.id}}{{$last ? '' : ', '}}</span>
                </dev>
            </li>
        </ul>

        <script type="text/javascript" src="js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="js/lib/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>

</html>